name: Run CI
on:
  pull_request:

# Runs on every pull request to build once and check for any compile errors
jobs:
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        node: [ "18" ]

    runs-on: ${{matrix.os}}
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node}}
      - name: Build 
        run: |
          echo installing
          npm install --unsafe-perm
          npm run build
